<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="xavHub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <xavHub.Properties.Settings>
      <setting name="App1" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>YourLogo</string>
            <string>YourAppName</string>
            <string>YourSellerKey</string>
            <string>YourOwnerID</string>
            <string>YourAppSecret</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ProgramName" serializeAs="String">
        <value>KeyAuth Panel</value>
      </setting>
      <setting name="FirstStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Panel1" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>panelName</string>
            <string>panelSecret</string>
            <string>panelColor</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Panel2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>panelName</string>
            <string>panelSecret</string>
            <string>panelColor</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Panel3" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>panelName</string>
            <string>panelSecret</string>
            <string>panelColor</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Panel4" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>panelName</string>
            <string>panelSecret</string>
            <string>panelColor</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Panel5" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>panelName</string>
            <string>panelSecret</string>
            <string>panelColor</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Panel6" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>panelName</string>
            <string>panelSecret</string>
            <string>panelColor</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="Panel1Color" serializeAs="String">
        <value />
      </setting>
      <setting name="Panel2Color" serializeAs="String">
        <value />
      </setting>
      <setting name="Panel3Color" serializeAs="String">
        <value />
      </setting>
      <setting name="Panel4Color" serializeAs="String">
        <value />
      </setting>
      <setting name="Panel5Color" serializeAs="String">
        <value />
      </setting>
      <setting name="Panel6Color" serializeAs="String">
        <value />
      </setting>
    </xavHub.Properties.Settings>
  </userSettings>
</configuration>